# Add required variables for this microservice
# Variables must not contain values that are used in any environment, not dev, nor prod

# For example
MONGO_URL=mongodb://localhost:27017/test-db
MONGO_SERVER_URL=mongodb://localhost:27017
JWT_ACCESS_TOKEN_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxx
JWT_ACCESS_TOKEN_EXPIRATION_TIME=10h

# Microservices Urls
USER_MS_URL=http://127.0.0.1:3001
AUTH_MS_URL=http://127.0.0.1:3002
PERSONALITY_MS_URL=http://127.0.0.1:3003
MATCH_MS_URL=http://127.0.0.1:3004
CHAT_MS_URL=http://127.0.0.1:3005
NOTIFICATION_MS_URL=http://127.0.0.1:3006
MEDIA_MS_URL=http://127.0.0.1:3007
SUGGESTIONS_MS_URL=http://127.0.0.1:3008
PAYMENT_MS_URL=http://127.0.0.1:3009
BILLING_MS_URL=http://127.0.0.1:3010

WEBSOCKET_PORT=3100

BULL_REDIS_PORT=XXXX
BULL_REDIS_HOST=localhost
NOTIFICATION_REDIS_PORT=XXXX
NOTIFICATION_REDIS_HOST=localhost

DEBUG=true

#FCM
FCM_CONFIGURATION_PATH="./fcm.json
